footer {
	// temporary solution
	display: none;
	@extend .fixpos;
	height: auto;
	bottom: 0;
	top: auto;
	padding: 1.5rem 1.5rem 1.5rem;
	@media screen and (min-height: 40em){
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	@media screen and (min-width: 64em){
		display: grid;
		grid-template-columns: 1fr 2fr;
		padding: 3rem 3rem 2.25rem;
	}
	p {
		color: #fff;
		line-height: 1.4;
		opacity: 1;
		font-size: .875rem;
		opacity: .6;
		grid-column: 1;
		text-shadow: 0 0 20px rgba(0,0,0,.8);
		margin: 0;
		@media screen and (min-width: 64em){
			text-align: right;
			grid-column: 2;
		}
	}

}