header {
	@extend .fixpos;
	height: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 1.5rem 1.5rem 1.5rem;
	grid-gap: .5rem;
	@media screen and (min-width:64em){
		padding: 3rem;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 1rem;
	}
	h1 {
		font-family: $font-cond;
		font-size: 1.5rem;
		text-transform: uppercase;
		display: inline-block;
		grid-column: 1 / span 2;
		grid-row: 1;
		font-weight: 400;
		span {
			font-weight: 700;
			background-color: #212121;
			color: #fff;
			padding: 0 .25rem;
		}
		@media screen and (min-width:64rem){
			line-height: 1;
		}
	}
	p {
		grid-column: 1;
		grid-row: 2;
		line-height:1.5rem;
		@media screen and (min-width:64em){
			grid-row: 1;
			grid-column: 2;
			justify-self: end;
		}
	}
}