.slide {
	transform: translateY(-100%);
}

.fixpos {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.cover {
	@extend .fixpos;
	background-color: $color-dark;
	transition: all .7s cubic-bezier(0.86, 0, 0.07, 1);
	@include makeGrid(1,1);
	z-index: 3;
	p {
		align-self: center;
		justify-self: center;
		font-family: $font-mono;
		text-align: center;
		color: #fff;
		font-size: 1rem;
		@media screen and (min-width: 64em){
			font-size: 1.5rem;
		}
	}
}